.container{
    background-color: antiquewhite;
    height: 300px;
    width: 300px;
    padding: 50px; 
    margin: auto; 
    margin-top: 80px;
    border-radius: 20px;
}
h1{
    text-align: center;
}
section{
    display: flex;
}
.text{
    margin-left: 70px;
}
.completed{
   
    text-decoration: line-through;
}
